Repository Mathh19/focus-mate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: add a drop shadow to elements like buttons, inputs to stand out better to the user
  src/components/Settings/index.tsx
  src/components/SettingsInputTimer/index.tsx
  src/components/ToggleButton/index.tsx
  tailwind.config.cjs
Due: prettier --write, eslint --fix

Update README.md
  README.md
Due: none

chore: organize folder structure
  src/components/DropdownMenuTasks/index.tsx
  src/components/Pomodoro/index.tsx
  src/components/Settings/index.tsx
  src/components/TaskItem/index.tsx
  src/components/TaskWeekOrganizer/index.tsx
  src/components/Tasks/index.tsx
  src/components/UI/Checkmark/index.tsx
  src/components/UI/Checkmark/types.ts
  src/components/UI/FeedbackCycles/index.tsx
  src/components/UI/FeedbackCycles/types.ts
  src/components/UI/SettingsInputTimer/index.tsx
  src/components/UI/SettingsInputTimer/types.ts
  src/components/UI/TaskInput/index.tsx
  src/components/UI/TaskInput/types.ts
  src/components/UI/ToggleButton/index.tsx
  src/components/UI/ToggleButton/types.ts
  src/components/UI/VolumeSlider/index.tsx
  src/components/UI/VolumeSlider/types.ts
Due: prettier --write, eslint --fix

chore: organize folder structure
  src/App.tsx
  src/components/Layout/Footer/index.tsx
  src/components/Layout/Header/index.tsx
Due: prettier --write, eslint --fix

fix: remove component
  src/App.tsx
Due: prettier --write, eslint --fix

chore: add all Tasks-related components to organization
  src/components/ConfigTasks/types.ts
  src/components/TaskItem/types.ts
  src/components/Tasks/components/ConfigTasks/index.tsx
  src/components/Tasks/components/ConfigTasks/types.ts
  src/components/Tasks/components/ContainerTaskItem/index.tsx
  src/components/Tasks/components/ContainerTaskItem/types.ts
  src/components/Tasks/components/DropdownMenuTasks/index.tsx
  src/components/Tasks/components/TaskItem/index.tsx
  src/components/Tasks/components/TaskItem/types.ts
  src/components/Tasks/components/TaskWeekOrganizer/index.tsx
  src/components/Tasks/components/TaskWeekOrganizer/types.ts
  src/components/Tasks/index.tsx
Due: prettier --write, eslint --fix

chore: add DisplayTimeButton to UI folder
  src/components/Pomodoro/index.tsx
  src/components/UI/DisplayTimeButton/index.tsx
  src/components/UI/DisplayTimeButton/types.ts
Due: prettier --write, eslint --fix

feat: add stop scrolling when ConfigTasks is open
  src/components/Tasks/components/ConfigTasks/index.tsx
Due: prettier --write, eslint --fix

feat: add stop scrolling when Settings is open
  src/components/Settings/index.tsx
Due: prettier --write, eslint --fix

feat: add feedback volume on VolumeSlider
  src/components/UI/VolumeSlider/index.tsx
  src/sounds/test-sound.mp3
Due: prettier --write, eslint --fix

fix: fix imports
  src/components/UI/Checkmark/types.ts
  src/components/UI/TaskInput/types.ts
Due: prettier --write, eslint --fix

feat: add a short audio to play bell effect
  src/components/UI/VolumeSlider/index.tsx
  src/sounds/play-bell-ding.mp3
  src/sounds/test-sound.mp3
Due: prettier --write, eslint --fix

feat: add improve description to SEO
  index.html
Due: prettier --write

feat: add better quality to the audios
  src/hooks/useTimer.ts
  src/sounds/play-bell-ding-long.mp3
  src/sounds/play-bell-ding.mp3
  src/sounds/rest-bell-ding.mp3
Due: prettier --write, eslint --fix

refactor: improve variable name definition
  src/components/Pomodoro/index.tsx
  src/hooks/useTimer.ts
Due: prettier --write, eslint --fix

feat: add new pallet colors to dark theme
  index.html
  src/components/About/index.tsx
  src/components/Settings/index.tsx
  src/components/Tasks/components/ConfigTasks/index.tsx
  src/components/Tasks/components/DropdownMenuTasks/index.tsx
  src/components/Tasks/components/TaskItem/index.tsx
  src/components/Tasks/components/TaskWeekOrganizer/index.tsx
  src/components/Timer/index.tsx
  src/components/UI/Checkmark/index.tsx
  src/components/UI/DisplayTimeButton/index.tsx
  src/components/UI/FeedbackCycles/index.tsx
  src/components/UI/SettingsInputTimer/index.tsx
  src/components/UI/ToggleButton/index.tsx
  src/components/UI/VolumeSlider/index.tsx
  src/index.css
  tailwind.config.cjs
Due: prettier --write, eslint --fix

feat: fix contrast text button in dark mode
  src/components/UI/DisplayTimeButton/index.tsx
Due: prettier --write, eslint --fix

feat: add new pallet colors to blue theme
  index.html
  src/components/Settings/index.tsx
  src/components/Tasks/components/TaskItem/index.tsx
  src/components/Timer/index.tsx
  src/components/UI/DisplayTimeButton/index.tsx
  src/components/UI/FeedbackCycles/index.tsx
  src/components/UI/SettingsInputTimer/index.tsx
  src/components/UI/ToggleButton/index.tsx
  tailwind.config.cjs
Due: prettier --write, eslint --fix

feat: add dynamic logo
  public/logo-site-blue-theme.svg
  public/logo-site-dark-theme.svg
  src/components/Logo/index.tsx
Due: prettier --write, eslint --fix

fix: fix hover effect on dropdown menu tasks
  src/index.css
Due: none

fix: fix color border in dark theme
  src/components/Tasks/components/TaskWeekOrganizer/index.tsx
Due: prettier --write, eslint --fix

fix: fix shadow color in dark theme
  src/components/Tasks/components/ContainerTaskItem/index.tsx
Due: prettier --write, eslint --fix

feat: add hidden scroll when open TaskWeekOrganizer
  src/components/Tasks/components/TaskWeekOrganizer/index.tsx
Due: prettier --write, eslint --fix

fix: fix shadow color ContainerTaskItem
  src/components/Tasks/components/ContainerTaskItem/index.tsx
Due: prettier --write, eslint --fix

feat: add pwa
  .gitignore
  index.html
  package.json
  public/icons/icon-128x128.png
  public/icons/icon-144x144.png
  public/icons/icon-152x152.png
  public/icons/icon-192x192.png
  public/icons/icon-384x384.png
  public/icons/icon-512x512.png
  public/icons/icon-72x72.png
  public/icons/icon-96x96.png
  public/manifest.json
  src/utils/setClassTheme.ts
  tailwind.config.cjs
  vite.config.ts
Due: prettier --write, eslint --fix

chore: fix sizes files icons
  public/icons/icon-128x128.png
  public/icons/icon-144x144.png
  public/icons/icon-152x152.png
  public/icons/icon-180x190.png
  public/icons/icon-255x255.png
  public/icons/icon-384x384.png
  public/icons/icon-72x72.png
  public/icons/icon-96x96.png
  public/manifest.json
Due: none

fix: fix write scope manifest
  public/manifest.json
Due: none

fix: fix images icons to pwa
  public/icons/icon-180x180.png
  public/icons/icon-180x190.png
  public/icons/icon-192x192.png
  public/icons/icon-255x255.png
  public/icons/icon-512x512.png
Due: none

feat: add sound to button controll counting status pomodoro
  src/components/Pomodoro/index.tsx
  src/sounds/pause-sound.mp3
Due: prettier --write, eslint --fix

feat: add hook useSound
  src/components/Pomodoro/index.tsx
  src/components/UI/VolumeSlider/index.tsx
  src/hooks/useSound.ts
  src/hooks/useTimer.ts
  src/sounds/play-bell-ding-test.mp3
Due: prettier --write, eslint --fix

fix: fix icon not found purpose manifest
  public/manifest.json
Due: none

fix: fix purpose icons pwa
  public/manifest.json
Due: none

feat: add component Modal
  src/components/UI/Modal/ModalAction.tsx
  src/components/UI/Modal/ModalActions.tsx
  src/components/UI/Modal/ModalContent.tsx
  src/components/UI/Modal/ModalHeader.tsx
  src/components/UI/Modal/ModalRoot.tsx
  src/components/UI/Modal/index.tsx
Due: prettier --write, eslint --fix

refactor: Component About use Modal
  src/components/About/index.tsx
Due: prettier --write, eslint --fix

refactor: Component ConfigTasks use Modal
  src/components/Tasks/components/ConfigTasks/index.tsx
Due: prettier --write, eslint --fix

refactor: Component TaskWeekOrganizer use Modal
  src/components/Tasks/components/DropdownMenuTasks/index.tsx
  src/components/Tasks/components/TaskWeekOrganizer/index.tsx
  src/components/Tasks/components/TaskWeekOrganizer/types.ts
Due: prettier --write, eslint --fix

fix: remove cursor pointer
  src/components/Tasks/components/TaskItem/index.tsx
Due: prettier --write, eslint --fix

fix: fix import
  src/components/UI/Modal/ModalHeader.tsx
Due: prettier --write, eslint --fix

feat: add vibrate setting to mobile
  src/components/Settings/index.tsx
  src/defaultConfig/pomodoro.ts
  src/hooks/useTimer.ts
  src/shared-types/pomodoro.ts
Due: prettier --write, eslint --fix

refactor: refactor settings component, removing some logic from the component
  src/components/Settings/components/SettingsBox/index.tsx
  src/components/Settings/components/SettingsBox/types.ts
  src/components/Settings/components/SettingsInputTimer/index.tsx
  src/components/Settings/components/SettingsInputTimer/types.ts
  src/components/Settings/index.tsx
  src/components/Settings/utils/displayInMinutes.ts
  src/components/Settings/utils/openWindow.ts
  src/components/UI/ToggleButton/index.tsx
  src/components/UI/ToggleButton/types.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: src/**/*.{ts,tsx}) or (any of: *.html)
  eslint --fix: any of: src/**/*.{ts,tsx}
